<h3>CONSENTIMIENTO INFORMADO</h3>
<h4>FISIOTERAPIA GENERAL</h4>
<p>
    Esta documentación ha sido elaborada conforme a las previsiones contenidas en la Ley General de Sanidad 14/1986, de 25 de Abril, la Ley Andaluza de Salud 2/1998, de 15 de Junio, y la Ley 41/2002, reguladora de los derechos y obligaciones en materia de información y documentación clínica, artículos 8, 9 y 10.
</p>

<h4>CONCEPTO GENERAL DE FISIOTERAPIA</h4>
<p>
    La Fisioterapia tiene como fin más significativo restaurar las funciones físicas perdidas o deterioradas.
</p>
<p>
    Consiste en el tratamiento de la persona para, mediante la evaluación de la misma, impedir, corregir, aliviar, limitar o disminuir la incapacidad física, alteración del movimiento, de la funcionalidad y de la postura, así como el tratamiento del dolor que se derive de dichos procesos, sean adquiridos, congénitos y/o debidos al envejecimiento.
</p>
<p>
    Para ello se utilizan distintos agentes y medios físicos, y dependiendo del agente que se emplee se denomina:
    <ul>
        <li><b>Cinesiterapia:</b> conjunto de procedimientos terapéuticos cuyo fin es el tratamiento de las patologías mediante el movimiento, ya sean pasivos, activos o comunicados mediante algún medio externo.</li>
        <li><b>Masoterapia/masaje:</b> conjunto de manipulaciones sobre una parte del organismo con el objetivo de movilizar los tejidos para provocar modificaciones de orden directas o reflejas que se traduzcan en efectos terapéuticos.</li>
        <li><b>Terapia Manual:</b> localización y tratamiento de trastornos del sistema locomotor utilizando las manos para desbloquear articulaciones y sus fijaciones musculares y reflejas aplicando técnicas y modelos terapéuticos de partes blandas. Incluye la cinesiterapia, masoterapia y sus derivados.</li>
        <li><b>Mecanoterapia:</b> utilización terapéutica de aparatos mecánicos destinados a provocar y dirigir movimientos corporales regulados en su fuerza, trayectoria y amplitud.</li>
        <li><b>Electroterapia:</b> tratamiento de determinadas patologías mediante la electricidad o radiaciones electromagnéticas aplicadas sobre el organismo para mejorar el estado de los tejidos (efecto trófico), aliviar el dolor (efecto analgésico) y ayudar a la recuperación motora (efecto excitomotor).</li>
        <li><b>Hidroterapia:</b> utilización terapéutica del agua por sus propiedades físicas, utilizando la aplicación externa del agua sobre el organismo principalmente por sus efectos mecánicos y térmicos.</li>
    </ul>
</p>

<h4>RIESGOS</h4>
<p>
    Los mayores riesgos en la aplicación de la Fisioterapia se refieren a su incorrecta indicación y su mala ejecución. Por ello es fundamental que sea un profesional de la Fisioterapia debidamente acreditado quien la lleve a cabo.
</p>
<p>
    En cualquier caso, algunas consecuencias durante el desarrollo de los tratamientos pueden ser las siguientes:
    <ul>
        <li><b>Dolor:</b> con el ejercicio es posible experimentar dolor muscular especialmente en las primeras sesiones.</li>
        <li><b>Mareo o vértigo:</b> aunque son relativamente inusuales.</li>
        <li><b>Fractura/lesión articular:</b> en algunos casos, las deformidades o patologías como la osteoporosis pueden volver al paciente susceptible de lesión. En dichos casos, el fisioterapeuta actuará con cautela adicional según el caso.</li>
        <li><b>Accidentes galvánicos:</b> en la aplicación de electroterapia, desde ligera irritación de la piel hasta aparición de quemaduras eléctricas.</li>
        <li><b>Arcos voltaicos en alta frecuencia:</b> provocados por la aplicación con elementos metálicos internos o externos al cuerpo, produciendo dolor, contractura y quemaduras (tanto externas como internas).</li>
    </ul>
</p>

<h4>CONTRAINDICACIONES GENERALES</h4>
<p>
    <b>Absolutas:</b>
    <ul>
        <li>Tumores malignos</li>
        <li>Cardiopatías descompensadas, endocarditis activas, hemopatías, tuberculosis (para la cinesiterapia activa)</li>
        <li>Bronquitis crónica descompensada</li>
        <li>Trombosis o hemorragias activas</li>
        <li>Marcapasos y/o dispositivos intracardiacos (para la electroterapia)</li>
    </ul>
    <b>Relativas:</b>
    <ul>
        <li>Derrame sinovial, hemartros y heridas recientes de partes blandas (cinesiterapia pasiva y termoterapia)</li>
        <li>Artritis infecciosa (para hidroterapia)</li>
        <li>Dermatología: micosis y dermatitis piógena</li>
        <li>Epilépticos no controlados y síndromes convulsos</li>
        <li>Hipertensión arterial y varices sin control médico.</li>
        <li>Enfermedades infecciosas</li>
        <li>Estados febriles y/o de debilidad extrema</li>
        <li>Enfermos terminales (hidroterapia y termoterapia profunda)</li>
        <li>Incontinencia de esfínteres (hidroterapia)</li>
        <li>Enfermedades de la piel en caso de aguas sulfatadas (hidroterapia)</li>
        <li>Implantes metálicos como endoprótesis, osteosíntesis (electroterapia de media y alta frecuencia)</li>
        <li>Alteraciones de la sensibilidad (electroterapia, hidroterapia)</li>
        <li>Aplicaciones abdominales y lumbares durante la menstruación (electroterapia de media y alta frecuencia)</li>
    </ul>
</p>

<h4>RESULTADOS DEL TRATAMIENTO</h4>
<p>
    Hay efectos beneficiosos asociados con estos métodos de tratamiento en los que se incluyen disminución del dolor y del espasmo muscular, así como mejora de la función y la movilidad articular. Sin embargo, la práctica sanitaria no es una ciencia exacta y no existe ninguna garantía sobre el resultado certero de estos métodos.
</p>
<p>
    Dependiendo de la técnica aplicada, su fisioterapeuta le indicará que se desprenda de objetos metálicos o le facilitará gafas protectoras.
</p>
<p>
    <b>Tiene derecho a prestar consentimiento para su tratamiento previa información, así como a consentir sin recibir dicha información. En cualquier caso, podrá retirar su consentimiento antes de la aplicación de la técnica o durante dicha aplicación.</b>
</p>

<h4>CONSENTIMIENTO INFORMADO</h4>
<p>
    Paciente: D/Dña {{ patient.name }} con DNI {{ patient.dni }}
</p>
<p>
    He leído la información relativa al consentimiento, he tenido la oportunidad de hacer preguntas sobre mi valoración y tratamiento. Con mi firma consiento que se me aplique el tratamiento que se me ha explicado de forma suficiente y comprensible, siendo este tratamiento aplicado por un fisioterapeuta colegiado.
</p>
<p>
    Entiendo que tengo el derecho de rehusar parte o todo el tratamiento en cualquier momento. Declaro haber facilitado de manera leal y verdadera los datos sobre el estado físico y de salud de mi persona que pudieran afectar a los tratamientos que se me van a realizar.
</p>
<p>
    En {{ location }}, a {{ day }} de {{ month }} de {{ year }}
</p>
<p>
    Fisioterapeuta: D/Dña {{ therapist.name }} con DNI {{ therapist.dni }}<br>
    Fisioterapeuta de la Unidad de Fisioterapia de {{ unit }}
</p>

<h4>Autorización de familiar o tutor</h4>
<p>
    Ante la imposibilidad de D/Dña {{ patient.name }} con DNI {{ patient.dni }} de prestar autorización para los tratamientos expuestos en el presente documento de forma libre, voluntaria y consciente:
</p>
<p>
    D/Dña {{ guardian.name }} con DNI {{ guardian.dni }}
</p>
<p>
    En calidad de {{ guardian.relationship }}, decido, dentro de las opciones clínicas disponibles, dar mi conformidad libre, voluntaria y consciente para los tratamientos expuestos en el presente documento.
</p>
<p>
    En {{ location }}, a {{ day }} de {{ month }} de {{ year }}
</p> 